@import "tailwindcss";
@plugin "daisyui";

body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;   /* IMPORTANT */
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
  pointer-events: none;
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
}


@keyframes story-ring {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.03); }
  100% { transform: rotate(360deg) scale(1); }
}

.animate-story-ring {
  animation: story-ring 5s linear infinite;
}



/* @keyframes shake {
  10%, 90% { transform: translateX(-1px); }
  20%, 80% { transform: translateX(2px); }
  30%, 50%, 70% { transform: translateX(-4px); }
  40%, 60% { transform: translateX(4px); }
}

.shake {
  animation: shake 0.35s ease-in-out;
} */

/* jelly shake  */

@keyframes shake {
  0% { transform: scale(1); }
  40% { transform: scale(1.1, 0.9); }
  70% { transform: scale(0.95, 1.05); }
  100% { transform: scale(1); }
}
.shake {
  animation: shake 0.3s ease-in-out;
} 

